# Put it in ~/.gitconfig

[user]
  name = Danil Pismenny
  email = danil@brandymint.ru

[github]
  user = dapi
  token = token
  password = password

[push]
  default = current

[pull]
  rebase = true

[merge]
  summary=true

[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  preloadindex = true

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[status]
  submoduleSummary = true
  renames = true
[init]
  defaultBranch = master
[color "diff"]
  meta = blue
  old = black red strike
  new = black green italic
  context = yellow bold
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
