.DS_Store
*.swp
tags
fonts/
tags.*
.ssh/hosts/*
.config/fish/functions/bass.fish
.config/fish/functions/spark.fish
.config/fish/functions/_*
.config/fish/functions/tide*
.config/fish/functions/tide/*
.config/fish/functions/fish*
