# Put it in ~/.gitconfig

[user]
	name = Danil Pismenny
	email = dapi@users.noreply.github.com

[github]
  user = dapi
  token = token
  password = password

[push]
  default = current

[pull]
  rebase = true

[merge]
  summary=true

[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  preloadindex = true

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
  pager = true
[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold
[color "branch"]
  remote = yellow
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[status]
  submoduleSummary = true
  renames = true
[init]
  defaultBranch = master
[color "diff"]
  meta = blue
  old = black red strike
  new = black green italic
  context = yellow bold
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/g5/9rjz5rbs76g0sjb2_y3208m40000gn/T/AppTranslocation/6B27EB9B-3335-46D4-BC24-2302F59797E9/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
