ForwardAgent yes
# ServerAliveInterval 6000
Host office
  HostName office.vkontraste.ru
  ControlMaster auto
  ControlPath /tmp/ssh_mux_%h_%p_%r
  ControlPersist 1h

Host icfdev.ru
  HostName icfdev.ru
  ControlMaster auto
  ControlPath /tmp/ssh_mux_%h_%p_%r
  ControlPersist 1h
