# Ignore everything in this directory by default.
*

# Keep only explicitly safe, public config files in git.
!.gitignore
!common.conf
!gpg-agent.conf
!gpg-agent.macos.conf
!gpg.conf
!dirmngr.conf
!scdaemon.conf

